 
.carousel-wrapper {
  position: relative;
  height: 307px; 
  width: 760px; 
  margin: auto;



  .carousel-item {
    position: absolute;
    top: 0;
    bottom: 0; 
    left: 0;
    right: 0;
    padding: 25px 50px;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    border-radius: 10px;
 
    .arrow {
    position: absolute;
    top: 0;
    display: block;
    width: 50px;
    height: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    background: url("../images/left-arrow.png") 50% 50% / 50px no-repeat;

     
      &.arrow-prev {
        left: 10px;
      }
 
      &.arrow-next {
        right: 10px;
        -webkit-transform: rotate(180deg);
                transform: rotate(180deg);
      }
    }
 
    

    /* Let's use using some media queries to resize the arrows
    on smaller devices.*/
    @media (max-width: 480px) {
      .arrow, &.light .arrow {
        background-size: 75%;
        background-position: 10px 50%;
      }
    }
  }
 
  [id^="target-item"] {
    display: none;
  }
 
  .item-1 {
    z-index: 2;
    opacity: 1;
    background: url('../images/banner1.jpg') no-repeat scroll 100%;
  }
  
  .item-2{background: url('../images/banner2.jpg') no-repeat scroll 100%;}
  .item-3{background: url('../images/banner3.jpg') no-repeat scroll 100%;}
  .item-4{background: url('../images/banner4.jpg') no-repeat scroll 100%;}
  .item-5{background: url('../images/banner5.jpg') no-repeat scroll 100%;}
  
 
      
      h2{ color: #fff}
      p{ color: #fff; margin: 0;}
 
 
  *:target ~ .item-1 {
    opacity: 0;
  }
 
  #target-item-1:target ~ .item-1 {
    opacity: 1;
  }

 
  #target-item-2:target ~ .item-2, #target-item-3:target ~ .item-3, #target-item-4:target ~ .item-4, #target-item-5:target ~ .item-5 {
    z-index: 3;
    opacity: 1;
  }
  
  img{ max-width: 100%;}
  
 
}

@media only screen and (max-width:760px){
    .carousel-wrapper{ width: 100%;}
}